## Name: Yilin Wen

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier

In [5]:
# Read in the training data and test data
train = pd.read_csv('train_final.csv')
test = pd.read_csv('test_final.csv')

In [32]:
id = test["Id"].values

In [6]:
train

,Id,Y,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,384
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,5973.0,0,1,3,-0.235477,-0.093838
1,2,1,0,0,0,0,0,0,0,0,...,0,0,0,2,473.0,0,1,1,-2.325332,2.415668
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,1,7901.0,0,1,1,-2.042686,5.651419
3,4,0,0,0,0,0,0,1,0,0,...,0,0,0,1,4115.0,0,1,10,-6.372442,-2.935490
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,2,6325.0,0,2,6,-2.684353,-0.024926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,2599,1,0,0,0,0,0,0,0,0,...,0,0,0,2,938.0,0,1,2,-1.293225,-1.768463
2599,2600,1,0,0,0,0,0,0,0,0,...,0,0,1,1,1601.0,0,1,1,-0.530216,1.226110
2600,2601,0,0,1,0,0,0,1,0,0,...,0,0,0,1,6063.0,0,1,1,0.366840,-1.117112
2601,2602,0,0,0,0,0,0,1,0,0,...,0,0,0,1,2055.0,0,1,1,0.353208,-0.136995
2602,2603,0,0,1,0,0,0,0,0,0,...,0,0,0,21,-3700.0,0,2,1,-1.335529,-0.370690

In [8]:
X_train = train.drop(['Id','Y'], axis=1)
X_train

,2,3,4,5,6,7,8,9,10,11,...,375,376,377,378,379,380,381,382,383,384
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,5973.0,0,1,3,-0.235477,-0.093838
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,473.0,0,1,1,-2.325332,2.415668
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,7901.0,0,1,1,-2.042686,5.651419
3,0,0,0,0,0,1,0,0,1,0,...,0,0,0,1,4115.0,0,1,10,-6.372442,-2.935490
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,6325.0,0,2,6,-2.684353,-0.024926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,938.0,0,1,2,-1.293225,-1.768463
2599,0,0,0,0,0,0,0,0,1,0,...,0,0,1,1,1601.0,0,1,1,-0.530216,1.226110
2600,0,1,0,0,0,1,0,0,1,0,...,0,0,0,1,6063.0,0,1,1,0.366840,-1.117112
2601,0,0,0,0,0,1,0,0,1,0,...,0,0,0,1,2055.0,0,1,1,0.353208,-0.136995
2602,0,1,0,0,0,0,0,0,0,0,...,0,0,0,21,-3700.0,0,2,1,-1.335529,-0.370690

In [10]:
y_train = train['Y']
y_train

0       0
1       1
2       0
3       0
4       0
       ..
2598    1
2599    1
2600    0
2601    0
2602    0
Name: Y, Length: 2603, dtype: int64

In [11]:
# Fit the model
model = LogisticRegression()
model.fit(X_train, y_train)

/Users/paulwen/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
X_test = test.drop(['Id'], axis=1)
X_test

,2,3,4,5,6,7,8,9,10,11,...,375,376,377,378,379,380,381,382,383,384
0,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,2175.0,0,1,1,0.195686,-0.694456
1,0,1,0,0,0,1,0,0,1,0,...,0,1,0,1,5667.0,0,1,6,-0.789394,1.159170
2,0,0,70,0,0,0,0,0,1,0,...,0,0,0,1,3498.0,0,1,3,-2.717848,-1.179772
3,0,0,0,0,0,1,0,0,1,0,...,0,0,0,4,4465.0,0,1,4,1.953888,0.756751
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,13,-3968.0,0,1,1,5.102421,-2.573633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3599,0,0,0,0,0,1,1,0,1,0,...,0,0,0,2,6634.0,0,2,3,-0.579300,0.318358
3600,0,0,-3121,0,0,1,0,0,1,0,...,0,0,0,6,2575.0,0,2,1,2.505088,-1.695397
3601,0,0,0,0,0,0,0,0,1,0,...,0,0,0,4,6685.0,0,1,1,0.817482,1.208855
3602,0,1,0,0,0,0,0,0,1,0,...,0,0,0,2,912.0,0,1,3,-2.430533,2.704082
3603,0,0,0,0,0,0,0,0,1,0,...,0,0,0,4,-1295.0,0,1,42,0.700659,1.000000

In [37]:
y_pred = model.predict(X_test)
y_pred
y_pred_proba = model.predict_proba(X_test)

In [38]:
submission = pd.DataFrame({'Id':id, 'Y':y_pred_proba[:,1]})
submission["Id"] = submission["Id"].astype("Int32")
submission

        Id         Y
0     2604  0.101755
1     2605  0.417622
2     2606  0.430118
3     2607  0.254269
4     2608  0.103756
...    ...       ...
3599  6203  0.248192
3600  6204  0.072138
3601  6205  0.201410
3602  6206  0.165632
3603  6207  0.229771

[3604 rows x 2 columns]

In [54]:
submission.to_csv('submission.csv', index=False)

In [40]:
from sklearn.metrics import roc_auc_score
y_proba = model.predict_proba(X_test)
roc_auc_score(y_pred, y_proba[:,1])

1.0

In [52]:
model_1 = RandomForestClassifier(n_estimators=100, max_depth=15, random_state=0)
model_1.fit(X_train, y_train)

RandomForestClassifier(max_depth=15, random_state=0)

In [53]:
y_pred_1 = model_1.predict(X_test)
y_pred_1
y_pred_proba_1 = model_1.predict_proba(X_test)
submission = pd.DataFrame({'Id':id, 'Y':y_pred_proba_1[:,1]})
submission["Id"] = submission["Id"].astype("Int32")
submission

        Id         Y
0     2604  0.031393
1     2605  0.442205
2     2606  0.258124
3     2607  0.064453
4     2608  0.501594
...    ...       ...
3599  6203  0.168578
3600  6204  0.343673
3601  6205  0.238452
3602  6206  0.072565
3603  6207  0.145324

[3604 rows x 2 columns]

In [68]:
from catboost import CatBoostClassifier
catboost = CatBoostClassifier(iterations=5, learning_rate=0.1)
catboost.fit(X_train, y_train)

0:	learn: 0.6576504	total: 8.08ms	remaining: 72.7ms
1:	learn: 0.6273931	total: 11.8ms	remaining: 47.3ms
2:	learn: 0.6029370	total: 14.7ms	remaining: 34.3ms
3:	learn: 0.5731283	total: 17.6ms	remaining: 26.4ms
4:	learn: 0.5554472	total: 20.2ms	remaining: 20.2ms
5:	learn: 0.5284083	total: 23.2ms	remaining: 15.5ms
6:	learn: 0.4985878	total: 29.5ms	remaining: 12.7ms
7:	learn: 0.4818774	total: 34.1ms	remaining: 8.53ms
8:	learn: 0.4669595	total: 39.8ms	remaining: 4.42ms
9:	learn: 0.4556313	total: 42.8ms	remaining: 0us

In [69]:
y_pred_2 = catboost.predict(X_test)
y_pred_2
y_pred_proba_2 = catboost.predict_proba(X_test)
submission = pd.DataFrame({'Id':id, 'Y':y_pred_proba_2[:,1]})
submission["Id"] = submission["Id"].astype("Int32")
submission
submission.to_csv('submission.csv', index=False)

In [70]:
submission

        Id         Y
0     2604  0.211956
1     2605  0.227364
2     2606  0.186166
3     2607  0.204504
4     2608  0.477641
...    ...       ...
3599  6203  0.314584
3600  6204  0.315992
3601  6205  0.198849
3602  6206  0.220406
3603  6207  0.224095

[3604 rows x 2 columns]

In [65]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=0)
xgb_model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [66]:
y_pred_3 = xgb_model.predict(X_test)
y_pred_3
y_pred_proba_3 = xgb_model.predict_proba(X_test)
submission = pd.DataFrame({'Id':id, 'Y':y_pred_proba_3[:,1]})
submission["Id"] = submission["Id"].astype("Int32")
submission
submission.to_csv('submission.csv', index=False)

In [67]:
submission

        Id         Y
0     2604  0.008866
1     2605  0.005795
2     2606  0.102383
3     2607  0.001243
4     2608  0.957814
...    ...       ...
3599  6203  0.061202
3600  6204  0.056052
3601  6205  0.000779
3602  6206  0.013600
3603  6207  0.001932

[3604 rows x 2 columns]